<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>XLSX 2 OFX</title>
    <link rel="stylesheet" href="/css/pico.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
<header class="container">
    <nav class="container-fluid">
        <ul>
            <li><a href="https://moniquelive.com"><span class="fa-solid fa-heart"></span>&nbsp;MoniqueLive</a>
            </li>
        </ul>
        <ul>
            <li><strong>Conversor de XLSX para OFX</strong></li>
        </ul>
        <ul>
            <li><a href="/"><span class="fa-solid fa-house"></span>&nbsp;Home</a>
        </ul>
    </nav>
</header>
{{ embed }}
</body>
</html>
